body {
  font-family: var(--font-primary);
  margin: 0;
  background-color: var(--green-100);
  color: var(--gray-200);
  font-size: var(--fs-s);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray-200);
  margin: 0 0 2rem 0;
}
p {
  margin: 0;
}
